[submodule "rp2350-freertos-template/lib/FreeRTOS-Kernel"]
	path = rp2350-freertos-template/lib/FreeRTOS-Kernel
	url = https://github.com/raspberrypi/FreeRTOS-Kernel
[submodule "rp2350-freertos-template/lib/BNO08x_Pico_Library"]
	path = rp2350-freertos-template/lib/BNO08x_Pico_Library
	url = https://github.com/robotcopper/BNO08x_Pico_Library
[submodule "FemtoSat-Flight-Computer-Software/lib/RadioLib"]
	path = FemtoSat-Flight-Computer-Software/lib/RadioLib
	url = https://github.com/jgromes/RadioLib
[submodule "FemtoSat-Flight-Computer-Software/lib/FreeRTOS-Kernel"]
	path = rp2350-freertos-template/lib/FreeRTOS-Kernel
	url = https://github.com/raspberrypi/FreeRTOS-Kernel
[submodule "FemtoSat-Flight-Computer-Software/lib/BNO08x_Pico_Library"]
	path = rp2350-freertos-template/lib/BNO08x_Pico_Library
	url = https://github.com/robotcopper/BNO08x_Pico_Library
	