[submodule "rp2350-freertos-template/lib/FreeRTOS-Kernel"]
	path = rp2350-freertos-template/lib/FreeRTOS-Kernel
	url = https://github.com/raspberrypi/FreeRTOS-Kernel
[submodule "rp2350-freertos-template/lib/BNO08x_Pico_Library"]
	path = rp2350-freertos-template/lib/BNO08x_Pico_Library
	url = https://github.com/robotcopper/BNO08x_Pico_Library
[submodule "wifi/lib/FreeRTOS-Kernel"]
	path = wifi/lib/FreeRTOS-Kernel
	url = https://github.com/raspberrypi/FreeRTOS-Kernel