[submodule "rp2350-freertos-template/lib/FreeRTOS-Kernel"]
	path = rp2350-freertos-template/lib/FreeRTOS-Kernel
	url = https://github.com/raspberrypi/FreeRTOS-Kernel
[submodule "rp2350-freertos-template/lib/BNO08x_Pico_Library"]
	path = rp2350-freertos-template/lib/BNO08x_Pico_Library
	url = https://github.com/robotcopper/BNO08x_Pico_Library
[submodule "rp2350-freertos-template/lib/TCA9548"]
    path = rp2350-freertos-template/lib/TCA9548
    url = https://github.com/RobTillaart/TCA9548
[submodule "rp2350-freertos-template/lib/Honeywell_ABP"]
	path = rp2350-freertos-template/lib/Honeywell_ABP
	url = https://github.com/ij96/Honeywell_ABP